.spacer {
  flex: 1 1 auto;
}

.user-title{
  padding: 5px;
}


.p-chats-content{
  padding-left: 0.7rem;
  padding-right: 0.7em;
}

.form {
  position: fixed;
  bottom: -21px;
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}

.chat {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}