/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-primary{
  background-color: #3F51B5;
}

.bg-white{
  background-color: white;
}

.bg-light{
  background-color: #FBFBFB;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.p-2{
  padding: 0.5rem;
}

.h-full{
  height: 100%;
}